/* Estilos básicos */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4; /* Ajusta según la paleta de tu página */
    margin: 0;
    padding: 0;
}

header {
    background-color: #00274d; /* Color de la paleta de tu página */
    color: white;
    padding: 10px 0;
    text-align: center;
}

h1, h2 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
    text-align: center;
}

/* Estilos del tablero y las cartas */
.tablero {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    max-width: 600px;
    margin: 0 auto;
}

.card {
    position: relative;
    width: 100%;
    height: 150px;
    cursor: pointer;
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.card.flip {
    transform: rotateY(180deg);
}

.front-face, .back-face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.front-face {
    background-color: #004080; /* Color oscuro de la paleta de tu página */
}

.back-face img {
    width: 80px;
    height: auto;
}

.back-face {
    background-color: #0073e6; /* Color de fondo del reverso */
    transform: rotateY(180deg);
}
